.div-head{
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 130px;
    table-layout: fixed;
}

.div-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

a{
    color: black;
}

.header-nav{
    background-color: #F3D7B7;
    height: 800px;
}

.header-item{
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    width: 447px;
}

.header-text{
    width: 464px;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    height: 72px;

}


.header-btn{
    width: 193px;
    height: 51px;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    font-variant: small-caps;
    color: white;
    border-radius: 100px;
    border: none;
    background-color: #0A775F;
}


.header-div{
    display: flex;
    flex-direction: column;
    gap: 47px;
}


.header-img{
    position: absolute;
    right: 0;
    top: 176px;
}



.header-logo{
    position: absolute;
    top: 70px;
    right: 595px;
    animation-name: logo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
   
}


@keyframes logo{
    0%{
        transform: rotate(-0deg);

    }
    
    100%{
        transform: rotate(-360deg);
    }
}