.coffees{
    display: flex;
    gap: 117px;
}

.main-item{
    padding: 200px 0px;
    text-align: center;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    font-variant: small-caps;

}

.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-bg{
    background-color: rgb(255, 241, 221);
}
.main-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 454px;
    

}

.main-list h3{
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    font-variant: small-caps;

}


.main-list p{
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 0px;

}


.coffees img:hover{
    transform: scale(1.5);
    transition: 450ms all ease;
}


.coffees img{
    transition: 450ms all ease;
}